<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Blogs page</h1>
    <p>My path to Node.js</p>
    <br />
    <a href="/">Home page</a>
    <a href="/about">About page</a>
    <a href="/blog/create">Create blog</a>
    <br />

    <% if(blogs.length > 0) { %> <% blogs.forEach(blog => { %>
    <h3><%=blog.title%></h3>
    <br />
    <p><%=blog.body%></p>
    <% }) %> <% } else {%>
    <p>Nothing to display</p>
    <% } %>
  </body>
</html>
