<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Node.js Master</h1>
    <p>My path to Node.js</p>
    <%= message %>
    <br />
    <a href="/about">About page</a>
    <a href="/blog/create">Create blog</a>
    <a href="/blogs">Blogs page</a>
    <br />
  </body>
</html>
